<!--
  Generated template for the AddDeliveryAddressPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Nuovo Indirizzo di spedizione</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding @itemState>

  <ion-card>
    <ion-card-header>
      Dati indirizzo:
    </ion-card-header>
    <ion-card-content style="min-height:700px">
      <form [formGroup]="deliveryAddressForm" (ngSubmit)="addDeliveryAddress()">
        <ion-list>
          <ion-item>
            <ion-label stacked>Via(*)</ion-label>
            <ion-input type="text" formControlName="address"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Città(*)</ion-label>
            <ion-input (ionBlur)="locateAddress($event)" type="text" formControlName="city"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Cap(*)</ion-label>
            <ion-input (ionBlur)="locateAddress($event)" type="text" formControlName="cap"></ion-input>
          </ion-item>

          <ion-item>
            <button id="submitBtn" ion-button outline type="submit" [disabled]="!deliveryAddressForm.valid">Aggiungi Indirizzo</button>
          </ion-item>

        </ion-list>
      </form>

      <ion-grid>
        <ion-row align-items-center>
          <ion-col>
            <div class="u_margin_top_l container-map">
              <div id="map-delivery" style="display:block;width:100%; height:100%;"></div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>
  </ion-card>

</ion-content>
