page-add-delivery-address {

   .u_margin_top_l{
     margin-top: 3.5em;
   }

   .container-map {
        position: absolute;
        min-height: 400px;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
    }

    #submitBtn {
      width:90%;
      margin:0 auto;
    }

    ion-grid {
      height: 100%;

      ion-row, ion-col {
        height: 100%;
      }
    }
}
