<ion-tabs #tabs>
  <ion-tab [root]="tab1Root" tabTitle="Carrefour Map" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Fai la tua spesa" tabIcon="cart"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Profilo Utente" tabIcon="man"></ion-tab>
</ion-tabs>
