<!--
  Generated template for the NearestDistributionPointsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Punti vendita Carrefour più vicini a te</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      Punti vendita Carrefour più vicini
    </ion-card-header>

    <ion-card-content>
      <ion-list>
          <ion-item *ngFor="let dp of distributionPoints">
            <ion-avatar item-left>
              <img src="assets/imgs/logo.png">
            </ion-avatar>
            <h2>{{dp.name}}</h2>
            <p>Indirizzo: {{dp.address}}, Distanza: {{dp.distanceFromUser}}</p>
            <button ion-button (click)="selectDefaultDistributionPoint(dp)" outline item-right>Seleziona</button>
          </ion-item>
        </ion-list>
    </ion-card-content>
  </ion-card>


</ion-content>
