<!--
  Generated template for the ProductListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Elenco prodotti</ion-title>

    <ion-buttons end>
      <button ion-button icon-end (click)="showCart()">
        Il mio carrello
        <ion-icon name="cart">
          <ion-badge *ngIf="itemsCount > 0">
            {{itemsCount}}
          </ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <form (ngSubmit)="searchProductsByFilter()">
    <ion-grid>

      <ion-row>
        <ion-col col-12 col-sm>
          <ion-item>
            <ion-label floating>Nome prodotto:</ion-label>
            <ion-input type="text" [(ngModel)]="queryText" name="queryText"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-12 col-sm>
          <button ion-button type="submit" round>Ricerca</button>
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>

  <ion-card *ngFor="let product of productList">
    <ion-item>
      <ion-label>{{product.name}}</ion-label>
    </ion-item>

    <div style="display:block;margin:0px auto;width:60%">
      <img style="width:128px;height:128px" src="{{product.imageUrl}}" />
    </div>

    <ion-card-content>
      <p>{{product.description}}</p>
    </ion-card-content>

    <ion-row>
    <ion-col>
      <button ion-button icon-start clear small (click)="addProductToCart(product)">
        <ion-icon name="add"></ion-icon>
        <div>Aggiungi prodotto al carrello</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        Prezzo: {{product.price}} €
      </ion-note>
    </ion-col>
  </ion-row>

  </ion-card>

  <ion-infinite-scroll (ionInfinite)="$event.waitFor(doInfinite())">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Caricamento...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
