<!--
  Generated template for the UserRegistrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Registrazione Utente</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding @itemState>

  <ion-card>
    <ion-card-header>
      Dati utente:
    </ion-card-header>
    <ion-card-content style="min-height:500px">
      <form [formGroup]="registrationForm" (ngSubmit)="registerUser()">
        <ion-list>
          <ion-item>
            <ion-label stacked>Nome(*)</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Cognome(*)</ion-label>
            <ion-input type="text" formControlName="surname"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Email(*)</ion-label>
            <ion-input type="text" formControlName="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label stacked>Data di nascita(*)</ion-label>
            <ion-datetime displayFormat="DD/MM/YYYY" formControlName="dateOfBirth" [ngClass]="{'has-error':!registrationForm.controls['dateOfBirth'].valid}"></ion-datetime>
          </ion-item>

          <ion-item>
            <button id="submitBtn" ion-button outline type="submit" [disabled]="!registrationForm.valid">Registra</button>
          </ion-item>

        </ion-list>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
