<!--
  Generated template for the PurchaseCartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Il mio Carrello</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngIf="currentOrder != null">
   <ion-item *ngIf="currentOrder.items.length <= 0 || !currentOrder.items">
      Spiacente, non ci sono elementi nel carrello
   </ion-item>
   <ion-item-sliding *ngFor="let item of currentOrder.items">
     <ion-item>
       <ion-avatar item-start>
         <img style="width:16px;height:16px" src="{{item.product | iconUrl}}">
       </ion-avatar>
       <h2>{{item.product.name}}</h2>
       <p>Quantità: {{item.quantity}}</p>
       <p style="font-weight:bold">{{item.price}} €</p>
     </ion-item>
     <ion-item-options side="right">
       <button tooltip="Incrementa quantità" duration="1000" event="hover" arrow positionV="bottom" ion-button icon-only color="primary" (click)="addItemQuantity(item)">
         <ion-icon name="add-circle"></ion-icon>
       </button>
       <button tooltip="Riduci quantità" duration="1000" event="hover" arrow positionV="bottom" ion-button icon-only color="primary" (click)="removeItemQuantity(item)">
         <ion-icon name="remove-circle"></ion-icon>
       </button>
       <button tooltip="Rimuovi dal Carrello" duration="1000" event="hover" arrow positionV="bottom" ion-button icon-only color="danger" (click)="removeItem(item)">
         <ion-icon name="trash"></ion-icon>
       </button>
     </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list>

    <ion-list-header>
      Dati di spedizione / fatturazione
    </ion-list-header>

    <ion-item>
      <p>Supermercato: <span style="font-weight:bold">{{user.defaultDistributionPoint.name}}</span></p>
      <p>{{user.defaultDistributionPoint.address}}</p>
    </ion-item>

    <ion-item>
      <h2>Ordine di spedizione: </h2>
      <p><span style="font-weight:bold">{{user.firstName}} {{user.lastName}}</span></p>
      <p>{{activeDeliveryAddress.address}} - {{activeDeliveryAddress.city}}</p>
      <p style="margin-left:10px">{{activeDeliveryAddress.cap}} ({{activeDeliveryAddress.district}})</p>
    </ion-item>

    <ion-item>
      <button *ngIf="currentOrder != null && currentOrder.items && currentOrder.items.length > 0" ion-button border icon-start full (click)="confirmOrder()">
        <ion-icon name='bus'></ion-icon>
          Conferma Ordine
      </button>
      <button *ngIf="currentOrder != null && currentOrder.items && currentOrder.items.length > 0 && paymentCheckStatus != 'NONE'" ion-button border icon-start full (click)="paymentCheck()">
        <ion-icon name='cash'></ion-icon>
          Procedi al pagamento
      </button>
    </ion-item>
  </ion-list>

</ion-content>
