<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Profilo Utente</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="!loginView" @itemState>
  <ion-card>
    <ion-card-header>
      Profilo Utente
    </ion-card-header>
    <ion-card-content>
      <ion-item-group>
        <ion-item-divider color="light">Informazioni Profilo</ion-item-divider>
        <ion-item>
          <ion-icon name='man' item-start></ion-icon>
            Benvenuto {{user.firstName}} {{user.lastName}}
            <button ion-button item-end icon-start (click)="logout($event)">
                <ion-icon name="exit"></ion-icon>
                Logout
            </button>
        </ion-item>
        <ion-item>
          <button ion-button item-end icon-only color="light" (click)="addDeliveryAddress($event)">
              <ion-icon name="arrow-forward"></ion-icon>
          </button>
          <ion-label>
            Aggiungi Indirizzo di spedizione
          </ion-label>
          <ion-icon name='add-circle' item-start></ion-icon>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <ion-item-divider color="light">Indirizzi di spedizione</ion-item-divider>

        <ion-item *ngFor="let deliveryAddr of user.deliveryAddresses">
          <ion-toggle tooltip="Indirizzo Attivo" duration="2000" event="hover" arrow positionV="top" [(ngModel)]="deliveryAddr.defaultAddressFlag" (ngModelChange)="updateFlag(deliveryAddr)"></ion-toggle>
          <ion-label>
            {{deliveryAddr.address}}, {{deliveryAddr.city}} - {{deliveryAddr.cap}} ({{deliveryAddr.district}})
          </ion-label>
          <ion-icon name='home' item-start></ion-icon>
        </ion-item>

      </ion-item-group>
    </ion-card-content>

  </ion-card>
</ion-content>


<ion-content *ngIf="loginView" has-subheader style="top:60px">
  <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
  <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label>Login</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="errorMessage.length > 0">
        <ion-col>
          <ion-item>
            <div class="alert alert-danger">{{errorMessage}}</div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-start>
        <ion-col col-md-9>
          <ion-item>
              <ion-input placeholder="Email" name="username" id="loginField" type="text" required [(ngModel)]="user.username" #email></ion-input>
          </ion-item>
        </ion-col>

        <ion-col col-md-2 offset-md-1>
          <ion-item>
            <button ion-button class="submit-btn" full type="submit" [disabled]="!loginForm.form.valid">Login</button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row align-items-start>
        <ion-col col-md-4>
          <ion-item>
            <button ion-button round icon-start class="submit-btn" full (click)="registerUser($event)">
              <ion-icon name="person-add"></ion-icon>
              Register user
            </button>
          </ion-item>
        </ion-col>
      </ion-row>

  </ion-grid>
 </form>
</ion-content>
