<ion-menu [content]="mainContent">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content id="side-menu21">
    <ion-list>
      <button menuClose ion-item *ngFor="let menuItem of menuItems" (click)="openPage(menuItem)">
        <ion-icon item-left [name]="menuItem.icon"></ion-icon>
        {{menuItem.title}}
      </button>
    </ion-list>
    <button *ngIf="user" menuClose ion-item (click)="logout()">
      <ion-icon item-left [name]="exit"></ion-icon>
      Logout
    </button>
  </ion-content>
</ion-menu>

<ion-nav #mainContent [root]="rootPage" swipeBackEnabled="false"></ion-nav>
