<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Fai la tua spesa</ion-title>
    <ion-buttons end>
      <button ion-button icon-end (click)="showCart()">
        Il mio carrello
        <ion-icon name="cart">
          <ion-badge *ngIf="itemsCount > 0">
            {{itemsCount}}
          </ion-badge>
        </ion-icon>
      </button>
  </ion-buttons>


  </ion-navbar>
</ion-header>

<ion-content padding @itemState>
  <ion-list>
    <ion-list-header>
      Seleziona il tuo Reparto
    </ion-list-header>

    <ion-item *ngFor="let productCategory of productCategories">
      <ion-icon name="{{productCategory.name | categoryIcon}}" item-start></ion-icon>
      {{productCategory.name}}
      <button class="category-btn" ion-button (click)="showProductList(productCategory)" round icon-only item-right>
        <ion-icon name="arrow-dropright"></ion-icon>
      </button>
    </ion-item>

  </ion-list>

</ion-content>
