<!--
  Generated template for the AddProductPopoverPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Aggiungi Prodotto al carrello</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>

  <ion-card-header>
    <span class="addproductcart_header">{{product.name}} ({{product.price}} €)</span>
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->

    <ion-grid>
      <ion-row align-items-center>
        <ion-col align-self-center col-8 col-sm>
          <img style="width:128px;height:128px;margin:0 auto" src="{{product.imageUrl}}" />
        </ion-col>
      </ion-row>
      <ion-row align-items-center>
        <ion-col text-center col-12 col-sm>
          <p>{{product.description}}</p>
        </ion-col>
      </ion-row>
      <ion-row *ngIf="quantity > 0" align-items-center>
        <ion-col text-center col-12 col-sm>
          <p style="font-weight:bold">Prezzo: {{product.price * quantity}} €</p>
        </ion-col>
      </ion-row>
      <ion-row class="quantity" no-padding align-items-center>
        <ion-col align-self-end col-6 col-sm>
          <ion-item>
            <ion-label fixed>Quantità:</ion-label>
            <ion-input type="text" [(ngModel)]="quantity" name="quantityAndPrice" (ionChange)="onChangeQuantity($event)" readonly ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row no-padding align-items-center>
      <ion-col align-self-end text-right col-6 col-sm>
        <button ion-button border icon-only (click)="removeItemQuantity()">
          <ion-icon name='remove'></ion-icon>
        </button>
      </ion-col>
      <ion-col align-self-start col-5 offset-1 col-sm>
        <button ion-button border icon-only (click)="addItemQuantity()">
          <ion-icon name='add'></ion-icon>
        </button>
      </ion-col>
    </ion-row>
    </ion-grid>

  </ion-card-content>

</ion-card>

</ion-content>
