
page-add-product-popover {

  .addproductcart_header{
    font-weight: bold;
    font-size: 2.1rem;
    font-family: arial;
    text-align: center;
    display: block;
    width: 80%;
    margin: 0px auto;
  }

  .quantity ion-item{
    width:40%;
    margin: 0 auto;
    left:20px;
  }
}
