page-carrefourMap {

  .container-map {
       position: absolute;
       top: 0px;
       bottom: 0px;
       width: 100%;
       height: 100%;
   }

  ion-grid {
    height: 100%;

    ion-row, ion-col {
      height: 100%;
    }
  }
}
