<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Carrefour Map Overview</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-10>
        <div class="container-map">
          <div id="map" style="display:block;width:100%; height:100%;"></div>
        </div>
      </ion-col>
      <ion-col offset-1 align-self-center>
        <ion-grid>
          <ion-row>
            <ion-col col-auto>&nbsp;</ion-col>
          </ion-row>
        <ion-row>
          <ion-col>
            <ion-fab center center>
              <button ion-fab color="blue" (click)="showDistributionPoints($event)">
                <ion-icon name="bookmarks"></ion-icon>
              </button>
            </ion-fab>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-auto>&nbsp;</ion-col>
        </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!--
  <ion-grid>
    <ion-row align-items-center>
      <ion-col col-9>

      </ion-col>
      <ion-col>
        <ion-fab center>
          <button ion-fab color="blue" (click)="showDistributionPoints($event)">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </button>
        </ion-fab>
      </ion-col>
    </ion-row>
  </ion-grid>
-->
</ion-content>
